---
import Badge from "@components/widgets/Badge.astro";
import TimeStamp from "@components/widgets/TimeStamp.astro";

interface Props {
    education: {
        school: string;
        field: string;
        description: string;
        dates: {
            start: string;
            end?: string;
        };
        grade?: number;
    };
}

const props = Astro.props;
const { school, field, grade, description, dates } = props.education;
---

<article class="flex flex-row gap-6">
    <TimeStamp startDate={dates.start} endDate={dates.end} />
    <div class="flex flex-col">
        <div class="flex flex-row justify-between pb-5">
            <header>
                <h3 class="text-2xl text-wrap">{field}</h3>
                <h4 class="text-xl">{school}</h4>
            </header>
            {
                grade && (
                    <div>
                        <Badge>{grade.toPrecision(2)}</Badge>
                    </div>
                )
            }
        </div>
        <p class="prose">{description}</p>
    </div>
</article>

<style>
    p {
        color: var(--color-foreground);
    }
</style>
