---
import Badge from "@components/widgets/Badge.astro";
import TimeStamp from "@components/widgets/TimeStamp.astro";

interface Props {
    experience: {
        position: string;
        company: string;
        badge?: string;
        description: string;
        dates: {
            start: string;
            end?: string;
        };
    };
}

const { position, company, badge, description, dates } = Astro.props.experience;
---

<article class="flex flex-row gap-6">
    <TimeStamp startDate={dates.start} endDate={dates.end} />
    <div class="flex flex-col">
        <div class="flex flex-row justify-between pb-5">
            <header>
                <h3 class="text-2xl text-wrap">{position}</h3>
                <h4 class="text-xl">{company}</h4>
            </header>
            {
                badge && (
                    <div>
                        <Badge>{badge}</Badge>
                    </div>
                )
            }
        </div>
        <p class="prose">{description}</p>
    </div>
</article>
<style>
    p {
        color: var(--color-foreground);
    }
</style>
