---
import { sections } from "@lib/section";
import { i18n } from "@lib/i18n";

const { ru } = i18n;

import Layout from "@layouts/Layout.astro";

import Header from "@components/section/Header.astro";
import Hero from "@components/section/Hero.astro";
import Experience from "@components/section/Experience.astro";
import Education from "@components/section/Education.astro";
import Projects from "@components/section/Projects.astro";
import Skills from "@components/section/Skills.astro";
import Footer from "@components/section/Footer.astro";
import Section from "@components/section/Section.astro";

import {
    hero,
    social,
    experiences,
    educations,
    projects,
    skills,
} from "cv_ru.json";
---

<Layout title="Vladislav Zernov - Software Engineer" locale="ru">
    <Header
        links={[
            { label: ru.nav.me, href: `#${sections.hero.id}` },
            {
                label: ru.nav.experience,
                href: `#${sections.experience.id}`,
            },
            { label: ru.nav.education, href: `#${sections.education.id}` },
            { label: ru.nav.projects, href: `#${sections.projects.id}` },
            { label: ru.nav.skills, href: `#${sections.skills.id}` },
        ]}
    />
    <Section id={sections.hero.id} class="mt-5">
        <Hero content={hero} social={social} />
    </Section>
    <Section id={sections.experience.id} title={ru.nav.experience}>
        <Experience experiences={experiences} />
    </Section>
    <Section id={sections.education.id} title={ru.nav.education}>
        <Education educations={educations} />
    </Section>
    <Section id={sections.projects.id} title={ru.nav.projects}>
        <Projects projects={projects} />
    </Section>
    <Section id={sections.skills.id} title={ru.nav.skills}>
        <Skills skills={skills} />
    </Section>
    <Footer social={social} mail={hero.mail} />
</Layout>
