---
import Image from "astro/components/Image.astro";
import MeImage from "@assets/images/me.webp";
import Badge from "./Badge.astro";
import GitHubIcon from "@assets/icons/GitHub.astro";
import LinkedInIcon from "@assets/icons/LinkedIn.astro";
import MailIcon from "@assets/icons/Mail.astro";
import Section from "./Section.astro";

import { hero, social } from "cv.json";
---

<Section id="hero" class="flex flex-col gap-6">
    <Image class="size-32 rounded-3xl" src={MeImage} alt="profile image" />
    <div class="flex items-baseline">
        <h1 class="text-5xl">{hero.name}</h1>
        <h2 class="text-xl">{hero.position}</h2>
    </div>
    <p class="text-2xl">{hero.description}</p>
    <div class="flex gap-6">
        <Badge href={social.github}>
            <GitHubIcon />
            <span>GitHub</span>
        </Badge>
        <Badge href={social.linkedin}>
            <LinkedInIcon />
            <span>LinkedIn</span>
        </Badge>
        <Badge href=`mailto:${hero.mail}`>
            <MailIcon class="size-7" />
            <span class="leading-7">Mail</span>
        </Badge>
    </div>
</Section>
